{% extends 'base.html' %}
{% block title %} {{title}}{% endblock %}
{% block content %}

	<h2 align="center">Discount Coupons</h2>

	<div class="container">
	  <h3>Active Coupons</h3>            
	  <table class="table table-dark table-hover">
	    <thead>
	      <tr>
	        <th>Coupon</th>
	        <th>Description</th>
	        <th>Token Price (V)</th>
	        <th>Approximate Item Profit ($)</th>
	        <th> EDIT </th>
	        <th> DEACTIVATE </th>
	        <th> DELETE </th>
	      </tr>
	    </thead>
	    <tbody>
	    {% for x in coupons%}
	    	{% if x.is_donation == False and x.is_active == True%}
	    		<tr>
	        		<td>{{x.name}}</td>
	        		<td>{{x.description}}</td>
	        		<td>{{x.token_cost}}</td>
	        		<td>{{x.item_cost}}</td>
	        		<td> <a href="{% url 'coupon_dis_edit' x.id %}">
							 EDIT
						</a> </td>
					<td> <a href="{% url 'deactivate_coupon' x.id 'see_coupons' %}">
							 DEACTIVATE
						</a> </td>
					<td> <a href="{% url 'delete_coupon' x.id 'see_coupons' %}" onclick="return confirm('Useful statistical data relating to this coupon will be deleted and impossible to recover with the deletion of this coupon. Instead, we suggest *deactivation* of obselete coupons. Do you wish to proceed with deletion?')">
							 DELETE
						</a> </td>
	      		</tr>
	     	{% endif %}
	    {% endfor %}
	    	<tr>
	        		<td><a href="{% url 'create_coupons_dis' %}"> CREATE NEW</a></td>
	        		<td></td>
	        		<td></td>
	        		<td></td>
	        		<td></td>
	        		<td></td>
	        		<td></td>
	      	</tr>
	    </tbody>
	  </table>
	</div>
	<div class="container">
	  <h3>Inactive Coupons</h3>            
	  <table class="table table-dark table-hover">
	    <thead>
	      <tr>
	        <th>Coupon</th>
	        <th>Description</th>
	        <th>Token Price (V)</th>
	        <th>Approximate Item Profit ($)</th>
	        <th> EDIT </th>
	        <th> ACTIVATE </th>
	        <th> DELETE </th>
	      </tr>
	    </thead>
	    <tbody>
	    {% for x in coupons%}
	    	{% if x.is_donation == False and x.is_active == False%}
	    		<tr>
	        		<td>{{x.name}}</td>
	        		<td>{{x.description}}</td>
	        		<td>{{x.token_cost}}</td>
	        		<td>{{x.item_cost}}</td>
	        		<td> <a href="{% url 'coupon_dis_edit' x.id %}">
							 EDIT
						</a> </td>
					<td> <a href="{% url 'activate_coupon' x.id 'see_coupons' %}">
							 ACTIVATE
						</a> </td>
					<td> <a href="{% url 'delete_coupon' x.id 'see_coupons' %}" onclick="return confirm('Useful statistical data relating to this coupon will be deleted and impossible to recover with the deletion of this coupon. Instead, we suggest *deactivation* of obselete coupons. Do you wish to proceed with deletion?')">
							 DELETE
						</a> </td>
	      		</tr>
	     	{% endif %}
	    {% endfor %}
	    </tbody>
	  </table>
	</div>




	<h2 align="center">Donation Coupons</h2>
	<div class="container">
	  <h3>Active Coupons</h3>            
	  <table class="table table-dark table-hover">
	    <thead>
	      <tr>
	        <th>Coupon</th>
	        <th>Description</th>
	        <th>Donation Pledge ($)</th>
	        <th>Token Price (V)</th>
	        <th>Approximate Item Profit ($)</th>
	        <th> EDIT </th>
	        <th> DEACTIVATE </th>
	        <th> DELETE </th>
	      </tr>
	    </thead>
	    <tbody>
	    {% for x in coupons%}
	    	{% if x.is_donation == True and x.is_active == True%}
	    		<tr>
	        		<td>{{x.name}}</td>
	        		<td>{{x.description}}</td>
	        		<td>{{x.donation_val}}</td>
	        		<td>{{x.token_cost}}</td>
	        		<td>{{x.item_cost}}</td>
	        		<td> <a href="{% url 'coupon_don_edit' x.id %}">
							 EDIT
						</a> </td>
					<td> <a href="{% url 'deactivate_coupon' x.id 'see_coupons' %}">
							 DEACTIVATE
						</a> </td>
					<td> <a href="{% url 'delete_coupon' x.id 'see_coupons' %}" onclick="return confirm('Useful statistical data relating to this coupon will be deleted and impossible to recover with the deletion of this coupon. Instead, we suggest *deactivation* of obselete coupons. Do you wish to proceed with deletion?')">
							 DELETE
						</a> </td>
	      		</tr>
	     	{% endif %}
	    {% endfor %}
	    	<tr>
	        		<td><a href="{% url 'create_coupons_don' %}"> CREATE NEW</a></td>
	        		<td></td>
	        		<td></td>
	        		<td></td>
	        		<td></td>
	        		<td></td>
	        		<td></td>
	        		<td></td>
	      	</tr>
	    </tbody>
	  </table>
	</div>

	<div class="container">
	  <h3>Inactive Coupons</h3>            
	  <table class="table table-dark table-hover">
	    <thead>
	      <tr>
	        <th>Coupon</th>
	        <th>Description</th>
	        <th>Donation Pledge ($)</th>
	        <th>Token Price (V)</th>
	        <th>Approximate Item Profit ($)</th>
	        <th> EDIT </th>
	        <th> ACTIVATE </th>
	        <th> DELETE </th>
	      </tr>
	    </thead>
	    <tbody>
	    {% for x in coupons%}
	    	{% if x.is_donation == True and x.is_active == False%}
	    		<tr>
	        		<td>{{x.name}}</td>
	        		<td>{{x.description}}</td>
	        		<td>{{x.donation_val}}</td>
	        		<td>{{x.token_cost}}</td>
	        		<td>{{x.item_cost}}</td>
	        		<td> <a href="{% url 'coupon_don_edit' x.id %}">
							 EDIT
						</a> </td>
					<td> <a href="{% url 'activate_coupon' x.id 'see_coupons' %}">
							 ACTIVATE
						</a> </td>
					<td> <a href="{% url 'delete_coupon' x.id 'see_coupons' %}" onclick="return confirm('Useful statistical data relating to this coupon will be deleted and impossible to recover with the deletion of this coupon. Instead, we suggest *deactivation* of obselete coupons. Do you wish to proceed with deletion?')">
							 DELETE
						</a> </td>
	      		</tr>
	     	{% endif %}
	    {% endfor %}
	    </tbody>
	  </table>
	</div>
	

	<h2 align="center">
	<a href="{% url 'home' %}">
			 HOME
	</a>
	</h2> 	

{% endblock %}