{% extends 'base.html' %}
{% block title %} {{title}}{% endblock %}
{% block content %}
	<h2>{{title}}</h2>
	
		{% for x in coupons%}
					
				<div style="outline: 5px solid black;">	
					{{x}}
					<br>{{x.description}}
					<br>
					 
					
					{% if x.is_donation == False %}		
<!-- 					discount			 -->
						<a href="{% url 'coupon_dis_edit' x.id %}">
							 EDIT
						</a> 		
						
						<a href="{% url 'delete_coupon' x.id 'see_coupons_dis' %}">
							 DELETE
						</a> 	
									
					{%else%}
<!-- 					donations -->
						<a href="{% url 'coupon_don_edit' x.id %}">
							 EDIT
						</a> 		
						
						<a href="{% url 'delete_coupon' x.id 'see_coupons_don' %}">
							 DELETE
						</a> 	
						
					{% endif %}
					

					
					
				</div>
				
				<br>
				<br>
				
		{% endfor %}


		<a href="{% url 'home' %}">
			 HOME
		</a> 	

{% endblock %}