{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %} {{title}}{% endblock %}
{% block content %}

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Coupon Statistics</h1>
          <p class="mb-4">Description of Statistics</p>

          <!-- DataTales Example -->
					Discount Coupons
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Table Name</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
											<th>Coupon</th>
							        <th>Description</th>
							        <th>Token Price (V)</th>
							        <th>Approximate Item Profit ($)</th>
							        <th> DEACTIVATE </th>
							        <th> DELETE </th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
											<th>Coupon</th>
							        <th>Description</th>
							        <th>Token Price (V)</th>
							        <th>Approximate Item Profit ($)</th>
							        <th> DEACTIVATE </th>
							        <th> DELETE </th>
                    </tr>
                  </tfoot>
                  <tbody>
										{% for x in coupons%}
								    	{% if x.is_donation == False and x.is_active == True%}
								    		<tr>
								        		<td> <a href="{% url 'coupon_dis_edit' x.id %}">
														 {{x.name}}
													</a> </td>
								        		<td>{{x.description}}</td>
								        		<td>{{x.token_cost}}</td>
								        		<td>{{x.item_cost}}</td>

												<td> <a href="{% url 'deactivate_coupon' x.id 'see_coupons' %}">
														 DEACTIVATE
													</a> </td>
												<td> <a href="{% url 'delete_coupon' x.id 'see_coupons' %}" onclick="return confirm('Useful statistical data relating to this coupon will be deleted and impossible to recover with the deletion of this coupon. Instead, we suggest *deactivation* of obselete coupons. Do you wish to proceed with deletion?')">
														 DELETE
													</a> </td>
								      		</tr>
								     	{% endif %}
								    {% endfor %}
											<tr>
												<td><a href="{% url 'create_coupons_dis' %}"> CREATE NEW</a></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

					<div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Table Name</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
											<th>Coupon</th>
							        <th>Description</th>
							        <th>Token Price (V)</th>
							        <th>Approximate Item Profit ($)</th>
							        <th> ACTIVATE </th>
							        <th> DELETE </th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
											<th>Coupon</th>
							        <th>Description</th>
							        <th>Token Price (V)</th>
							        <th>Approximate Item Profit ($)</th>
							        <th> ACTIVATE </th>
							        <th> DELETE </th>
                    </tr>
                  </tfoot>
                  <tbody>
										{% for x in coupons%}
											    	{% if x.is_donation == False and x.is_active == False%}
											    		<tr>
											        		<td> <a href="{% url 'coupon_dis_edit' x.id %}">
																	 {{x.name}}
																</a> </td>
											        		<td>{{x.description}}</td>
											        		<td>{{x.token_cost}}</td>
											        		<td>{{x.item_cost}}</td>

															<td> <a href="{% url 'activate_coupon' x.id 'see_coupons' %}">
																	 ACTIVATE
																</a> </td>
															<td> <a href="{% url 'delete_coupon' x.id 'see_coupons' %}" onclick="return confirm('Useful statistical data relating to this coupon will be deleted and impossible to recover with the deletion of this coupon. Instead, we suggest *deactivation* of obselete coupons. Do you wish to proceed with deletion?')">
																	 DELETE
																</a> </td>
											      		</tr>
											     	{% endif %}
											    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Table Name</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Coupon</th>
											<th>Description</th>
											<th>Token Price (V)</th>
											<th>Approximate Item Profit ($)</th>
											<th> DEACTIVATE </th>
											<th> DELETE </th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Coupon</th>
											<th>Description</th>
											<th>Token Price (V)</th>
											<th>Approximate Item Profit ($)</th>
											<th> DEACTIVATE </th>
											<th> DELETE </th>
										</tr>
									</tfoot>
									<tbody>
										{% for x in coupons%}
											{% if x.is_donation == False and x.is_active == True%}
												<tr>
														<td> <a href="{% url 'coupon_dis_edit' x.id %}">
														 {{x.name}}
													</a> </td>
														<td>{{x.description}}</td>
														<td>{{x.token_cost}}</td>
														<td>{{x.item_cost}}</td>

												<td> <a href="{% url 'deactivate_coupon' x.id 'see_coupons' %}">
														 DEACTIVATE
													</a> </td>
												<td> <a href="{% url 'delete_coupon' x.id 'see_coupons' %}" onclick="return confirm('Useful statistical data relating to this coupon will be deleted and impossible to recover with the deletion of this coupon. Instead, we suggest *deactivation* of obselete coupons. Do you wish to proceed with deletion?')">
														 DELETE
													</a> </td>
													</tr>
											{% endif %}
										{% endfor %}
											<tr>
												<td><a href="{% url 'create_coupons_dis' %}"> CREATE NEW</a></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					Donation Coupons
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Table Name</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Coupon</th>
											<th>Description</th>
											<th>Token Price (V)</th>
											<th>Approximate Item Profit ($)</th>
											<th> ACTIVATE </th>
											<th> DELETE </th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Coupon</th>
											<th>Description</th>
											<th>Token Price (V)</th>
											<th>Approximate Item Profit ($)</th>
											<th> ACTIVATE </th>
											<th> DELETE </th>
										</tr>
									</tfoot>
									<tbody>
										{% for x in coupons%}
	    	{% if x.is_donation == True and x.is_active == True%}
	    		<tr>
	        		<td> <a href="{% url 'coupon_don_edit' x.id %}">
							 {{x.name}}
						</a> </td>
	        		<td>{{x.description}}</td>
	        		<td>{{x.donation_val}}</td>
	        		<td>{{x.token_cost}}</td>
	        		<td>{{x.item_cost}}</td>
					<td> <a href="{% url 'deactivate_coupon' x.id 'see_coupons' %}">
							 DEACTIVATE
						</a> </td>
					<td> <a href="{% url 'delete_coupon' x.id 'see_coupons' %}" onclick="return confirm('Useful statistical data relating to this coupon will be deleted and impossible to recover with the deletion of this coupon. Instead, we suggest *deactivation* of obselete coupons. Do you wish to proceed with deletion?')">
							 DELETE
						</a> </td>
	      		</tr>
	     	{% endif %}
	    {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>

					Donation Coupons
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Table Name</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Coupon</th>
											<th>Description</th>
											<th>Token Price (V)</th>
											<th>Approximate Item Profit ($)</th>
											<th> ACTIVATE </th>
											<th> DELETE </th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Coupon</th>
											<th>Description</th>
											<th>Token Price (V)</th>
											<th>Approximate Item Profit ($)</th>
											<th> ACTIVATE </th>
											<th> DELETE </th>
										</tr>
									</tfoot>
									<tbody>
										{% for x in coupons%}
								    	{% if x.is_donation == True and x.is_active == False%}
								    		<tr>
								        		<td> <a href="{% url 'coupon_don_edit' x.id %}">
														 {{x.name}}
													</a> </td>
								        		<td>{{x.description}}</td>
								        		<td>{{x.donation_val}}</td>
								        		<td>{{x.token_cost}}</td>
								        		<td>{{x.item_cost}}</td>
												<td> <a href="{% url 'activate_coupon' x.id 'see_coupons' %}">
														 ACTIVATE
													</a> </td>
												<td> <a href="{% url 'delete_coupon' x.id 'see_coupons' %}" onclick="return confirm('Useful statistical data relating to this coupon will be deleted and impossible to recover with the deletion of this coupon. Instead, we suggest *deactivation* of obselete coupons. Do you wish to proceed with deletion?')">
														 DELETE
													</a> </td>
								      		</tr>
								     	{% endif %}
								    {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>

        </div>
        <!-- /.container-fluid -->
			<h2 align="center"> PIN: {{business_pin}} </h2>

			<h2 align="center">
			<a href="{% url 'home' %}" class="btn btn-primary btn-user btn-block">
					 HOME
			</a>
			</h2>

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Bootstrap core JavaScript-->
  <script src="{% static vendor/jquery/jquery.min.js %}"></script>
  <script src="{% static vendor/bootstrap/js/bootstrap.bundle.min.js %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static vendor/jquery-easing/jquery.easing.min.js %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static js/sb-admin-2.min.js %}"></script>

  <!-- Page level plugins -->
  <script src="{% static vendor/datatables/jquery.dataTables.min.js %}"></script>
  <script src="{% static vendor/datatables/dataTables.bootstrap4.min.js %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static js/demo/datatables-demo.js %}"></script>

</body>
{% endblock %}
