{% extends 'base.html' %}
{% block title %} {{title}}{% endblock %}
{% block content %}
	<h2 align="center">{{title}}</h2>
	
	<div class="container">
	  <h3>Events</h3>            
	  <table class="table table-dark table-hover">
	    <thead>
	      <tr>
	        <th>Event</th>
	        <th>Total Volunteering (hours)</th>
	        <th>RSVPed Users (#)</th>
	        <th>Present Volunteers (#) </th>
	        <th>DE/ACTIVATE</th>
	      </tr>
	    </thead>
	    <tbody>
	    {% for x in events_hosted %}
	      <tr>
	        <td><a href="{% url 'edit_event' x.id %}">{{x.name}}</a></td>
	        <td>{{x.hours}}</td>
	        <td>{{x.number_registered}} </td>
	        <td>{{x.number_participants}} </td>
	        {%if x.is_active == True %}
	        	<td> <a href="{% url 'deactivate_event' x.id 'ngo_stats' %}">
						 DEACTIVATE
						</a> </td>
	        {% elif x.is_active == False %}
	        	<td> <a href="{% url 'activate_event' x.id 'ngo_stats' %}">
						 ACTIVATE
						</a> </td>
	        {% endif %} 
	     </tr>
	    {% endfor %}
	    </tbody>
	  </table>
	</div>

	<div class="container">
	  <h3>Supporting Businesses</h3>            
	  <table class="table table-dark table-hover">
	    <thead>
	      <tr>
	        <th>Business</th>
	        <th>Volunteering Supported (hours)</th>
	        <th>Donations Pledged ($)</th>
	        <th>Discount Tokens Accepted (V) </th>
	      </tr>
	    </thead>
	    <tbody>
	    {% for x in business_support %}
	      <tr>
	        <td><a href={{x.website}}>{{x.name}}</a></td>
	        <td>{{x.hours}}</td>
	        <td>{{x.donations}} </td>
	        <td>{{x.discounts}} </td>
	     </tr>
	    {% endfor %}
	    </tbody>
	  </table>
	</div>

	<div class="container">
	  <h3>Volunteers</h3>            
	  <table class="table table-dark table-hover">
	    <thead>
	      <tr>
	        <th>Names</th>
	        <th>Email</th>
	        <th>Total Volunteering (hours)</th>
	        <th>Donations Helped Pledge ($)</th>
	      </tr>
	    </thead>
	    <tbody>
	    {% for x in volunteer_support%}
	      <tr>
	        <td>{{x.name}}</td>
	        <td><a href="mailto:{{x.email}}">{{x.email}}</a></td>
	        <td>{{x.hours}}</td>
	        <td>{{x.donations}} </td>
	     </tr>
	    {% endfor %}
	    </tbody>
	  </table>
	</div>

	<div class="container">
	  <h3>Total Stats</h3>            
	  <table class="table table-dark table-hover">
	    <thead>
	      <tr>
	      	<th> TOTAL </th>
	      	<th> VALUE </th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	      	<td>Volunteering Hosted (hours)</td>
	        <td>{{total.hours}}</td>
	      </tr>
	      <tr>
	      	<td> Unique Volunteers (#)</td>
	        <td>{{total.volunteers}}</td>
	      </tr>
	      <tr>
	      	<td> Donations Pledged ($)</td>
	        <td>{{total.donations}}</td>
	     </tr>
	    </tbody>
	  </table>
	</div>

<h2 align="center">
	<a href="{% url 'home' %}">
			 HOME
	</a>
	</h2> 	

{% endblock %}