{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %} {{title}}{% endblock %}
{% block content %}

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">NGO Statistics</h1>
          <p class="mb-4">Description of Statistics</p>

          <!-- DataTales Example -->
					Events
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Table Name</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
											<th>Event</th>
							        <th>Total Volunteering (hours)</th>
							        <th>RSVPed Users (#)</th>
							        <th>Present Volunteers (#) </th>
							        <th>DE/ACTIVATE</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
											<th>Event</th>
							        <th>Total Volunteering (hours)</th>
							        <th>RSVPed Users (#)</th>
							        <th>Present Volunteers (#) </th>
							        <th>DE/ACTIVATE</th>
                    </tr>
                  </tfoot>
                  <tbody>
										{% for x in events_hosted %}
								      <tr>
								        <td><a href="{% url 'edit_event' x.id %}">{{x.name}}</a></td>
								        <td>{{x.hours}}</td>
								        <td>{{x.number_registered}} </td>
								        <td>{{x.number_participants}} </td>
								        {%if x.is_active == True %}
								        	<td> <a href="{% url 'deactivate_event' x.id 'NGO_stats' %}">
													 DEACTIVATE
													</a> </td>
								        {% elif x.is_active == False %}
								        	<td> <a href="{% url 'activate_event' x.id 'NGO_stats' %}">
													 ACTIVATE
													</a> </td>
								        {% endif %}
								     </tr>
								    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

					Supporting Businesses
					<div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Table Name</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
										<tr>
											<th>Business</th>
							        <th>Volunteering Supported (hours)</th>
							        <th>Donations Pledged ($)</th>
							        <th>Discount Tokens Accepted (V) </th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
											<th>Business</th>
							        <th>Volunteering Supported (hours)</th>
							        <th>Donations Pledged ($)</th>
							        <th>Discount Tokens Accepted (V) </th>
                    </tr>
                  </tfoot>
                  <tbody>
										{% for x in business_support %}
								      <tr>
								        <td><a href={{x.website}}>{{x.name}}</a></td>
								        <td>{{x.hours}}</td>
								        <td>{{x.donations}} </td>
								        <td>{{x.discounts}} </td>
								     </tr>
								    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

				Volunteers
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Table Name</h6>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
								<thead>
									<tr>
										<th>Names</th>
						        <th>Email</th>
						        <th>Total Volunteering (hours)</th>
						        <th>Donations Helped Pledge ($)</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Names</th>
						        <th>Email</th>
						        <th>Total Volunteering (hours)</th>
						        <th>Donations Helped Pledge ($)</th>
									</tr>
								</tfoot>
								<tbody>
									{% for x in volunteer_support%}
							      <tr>
							        <td>{{x.name}}</td>
							        <td><a href="mailto:{{x.email}}">{{x.email}}</a></td>
							        <td>{{x.hours}}</td>
							        <td>{{x.donations}} </td>
							     </tr>
							    {% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>


			Total Stats
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Table Name</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th> TOTAL </th>
					      	<th> VALUE </th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th> TOTAL </th>
					      	<th> VALUE </th>
								</tr>
							</tfoot>
							<tbody>
								<tr>
					      	<td>Volunteering Hosted (hours)</td>
					        <td>{{total.hours}}</td>
					      </tr>
					      <tr>
					      	<td> Unique Volunteers (#)</td>
					        <td>{{total.volunteers}}</td>
					      </tr>
					      <tr>
					      	<td> Donations Pledged ($)</td>
					        <td>{{total.donations}}</td>
					     </tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

        <!-- /.container-fluid -->
			<h2 align="center">
			<a href="{% url 'home' %}" class="btn btn-primary btn-user btn-block">
					 HOME
			</a>
			</h2>

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>

</body>
{% endblock %}
